# Dependencies
node_modules/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-error.log
pnpm-debug.log
debug.log
planner-activity.log

# Build artifacts
.dist/
dist/
coverage/
.tmp/
data/*
!data/.gitignore
!data/credentials.json

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
